-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: bd_hospedajes
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accesos`
--

DROP TABLE IF EXISTS `accesos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accesos` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `accesoID` int(11) NOT NULL AUTO_INCREMENT,
  `rolID` int(11) NOT NULL,
  `opcionID` int(11) NOT NULL,
  PRIMARY KEY (`accesoID`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `auditorias`
--

DROP TABLE IF EXISTS `auditorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auditorias` (
  `auditoriaID` int(11) NOT NULL AUTO_INCREMENT,
  `hospedajeID` int(11) NOT NULL,
  `tipo_auditoria` enum('MODIFICACION','ELIMINACION') DEFAULT 'MODIFICACION',
  `monto_anterior` decimal(15,2) NOT NULL,
  `monto_nuevo` decimal(15,2) NOT NULL,
  `detalle_original` text DEFAULT NULL,
  `detalle_nuevo` text DEFAULT NULL,
  `estado_revision` tinyint(4) DEFAULT 0,
  `empresaID` int(11) NOT NULL,
  `motivo` text DEFAULT NULL,
  `usuarioID` int(11) NOT NULL,
  `fecha` datetime NOT NULL,
  PRIMARY KEY (`auditoriaID`),
  KEY `hospedajeID` (`hospedajeID`),
  KEY `empresaID` (`empresaID`),
  KEY `estado_revision` (`estado_revision`),
  CONSTRAINT `fk_auditoria_hospedaje` FOREIGN KEY (`hospedajeID`) REFERENCES `hospedajes` (`hospedajeID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `banos`
--

DROP TABLE IF EXISTS `banos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `banos` (
  `banoID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `cajaID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `tipo` enum('INGRESO','EGRESO') NOT NULL,
  `descripcion` varchar(100) DEFAULT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `entregado` tinyint(1) DEFAULT 0,
  `recaudacionID` int(11) DEFAULT NULL,
  PRIMARY KEY (`banoID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cajas`
--

DROP TABLE IF EXISTS `cajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cajas` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `cajaID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  `estado` enum('ABIERTA','CERRADA') DEFAULT 'CERRADA',
  `fecha_apertura` datetime DEFAULT current_timestamp(),
  `fecha_cierre` datetime DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`cajaID`),
  KEY `empresaID` (`empresaID`),
  KEY `usuarioID` (`usuarioID`),
  CONSTRAINT `cajas_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `cajas_ibfk_2` FOREIGN KEY (`usuarioID`) REFERENCES `usuarios` (`usuarioID`)
) ENGINE=InnoDB AUTO_INCREMENT=902 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cierre_cajas`
--

DROP TABLE IF EXISTS `cierre_cajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cierre_cajas` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `cierrecajaID` int(11) NOT NULL AUTO_INCREMENT,
  `cajaID` int(11) NOT NULL,
  `formapagoID` int(11) NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  PRIMARY KEY (`cierrecajaID`),
  KEY `cajaID` (`cajaID`),
  KEY `formapagoID` (`formapagoID`),
  CONSTRAINT `cierre_cajas_ibfk_1` FOREIGN KEY (`cajaID`) REFERENCES `cajas` (`cajaID`),
  CONSTRAINT `cierre_cajas_ibfk_2` FOREIGN KEY (`formapagoID`) REFERENCES `formas_pago` (`formapagoID`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `clienteID` int(11) NOT NULL AUTO_INCREMENT,
  `ci` varchar(15) NOT NULL,
  `nombres` varchar(50) NOT NULL,
  `apellido1` varchar(30) NOT NULL,
  `apellido2` varchar(30) DEFAULT NULL,
  `fecha_nacimiento` date NOT NULL,
  `lugar_nacimiento` varchar(100) NOT NULL,
  `estado_civil` varchar(25) DEFAULT NULL,
  `profesion` varchar(100) DEFAULT NULL,
  `pais` varchar(100) DEFAULT NULL,
  `paisID` int(11) NOT NULL,
  PRIMARY KEY (`clienteID`),
  UNIQUE KEY `ci` (`ci`),
  KEY `idx_ci` (`ci`)
) ENGINE=InnoDB AUTO_INCREMENT=6201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cuentas`
--

DROP TABLE IF EXISTS `cuentas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuentas` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `cuentaID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `tipo` enum('INGRESO','EGRESO') NOT NULL,
  PRIMARY KEY (`cuentaID`),
  KEY `empresaID` (`empresaID`),
  CONSTRAINT `cuentas_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `egreso_pagos`
--

DROP TABLE IF EXISTS `egreso_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egreso_pagos` (
  `egresopagoID` int(11) NOT NULL AUTO_INCREMENT,
  `egresoID` int(11) NOT NULL,
  `formapagoID` int(11) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  PRIMARY KEY (`egresopagoID`),
  KEY `egresoID` (`egresoID`),
  KEY `formapagoID` (`formapagoID`),
  CONSTRAINT `egreso_pagos_ibfk_1` FOREIGN KEY (`egresoID`) REFERENCES `egresos` (`egresoID`),
  CONSTRAINT `egreso_pagos_ibfk_2` FOREIGN KEY (`formapagoID`) REFERENCES `formas_pago` (`formapagoID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `egresos`
--

DROP TABLE IF EXISTS `egresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egresos` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `egresoID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `cajaID` int(11) NOT NULL,
  `cuentaID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  `monto_total` decimal(10,2) NOT NULL,
  `concepto` varchar(200) DEFAULT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `entregado` tinyint(1) DEFAULT 0,
  `fecha_entrega` datetime DEFAULT NULL,
  `recaudacionID` int(11) DEFAULT NULL,
  PRIMARY KEY (`egresoID`),
  KEY `empresaID` (`empresaID`),
  KEY `cuentaID` (`cuentaID`),
  KEY `fk_egreso_recaudacion` (`recaudacionID`),
  KEY `idx_caja_empresa` (`cajaID`,`empresaID`),
  KEY `idx_fecha` (`fecha`),
  CONSTRAINT `egresos_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `egresos_ibfk_2` FOREIGN KEY (`cajaID`) REFERENCES `cajas` (`cajaID`),
  CONSTRAINT `egresos_ibfk_3` FOREIGN KEY (`cuentaID`) REFERENCES `cuentas` (`cuentaID`),
  CONSTRAINT `fk_egreso_recaudacion` FOREIGN KEY (`recaudacionID`) REFERENCES `recaudaciones` (`recaudacionID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empleado_empresas`
--

DROP TABLE IF EXISTS `empleado_empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleado_empresas` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `empleadoempresaID` int(11) NOT NULL AUTO_INCREMENT,
  `empleadoID` int(11) NOT NULL,
  `rolID` int(11) NOT NULL,
  `empresaID` int(11) NOT NULL,
  `sueldo` decimal(15,2) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `es_titular` tinyint(1) DEFAULT 0,
  `estado_laboral` enum('ACTIVO','INACTIVO','SUSPENDIDO') NOT NULL DEFAULT 'ACTIVO',
  PRIMARY KEY (`empleadoempresaID`),
  KEY `empleadoID` (`empleadoID`),
  KEY `empresaID` (`empresaID`),
  KEY `fk_empempresa_rol` (`rolID`),
  CONSTRAINT `empleado_empresas_ibfk_1` FOREIGN KEY (`empleadoID`) REFERENCES `empleados` (`empleadoID`) ON DELETE CASCADE,
  CONSTRAINT `empleado_empresas_ibfk_2` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`) ON DELETE CASCADE,
  CONSTRAINT `fk_empempresa_rol` FOREIGN KEY (`rolID`) REFERENCES `roles` (`rolID`)
) ENGINE=InnoDB AUTO_INCREMENT=1035 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empleados`
--

DROP TABLE IF EXISTS `empleados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleados` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `empleadoID` int(11) NOT NULL AUTO_INCREMENT,
  `ci` varchar(15) NOT NULL,
  `nombres` varchar(40) NOT NULL,
  `apellidos` varchar(40) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `genero` char(1) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  PRIMARY KEY (`empleadoID`),
  UNIQUE KEY `ci` (`ci`),
  UNIQUE KEY `idx_ci_unico` (`ci`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresa`
--

DROP TABLE IF EXISTS `empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `empresaID` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `direccion` varchar(200) NOT NULL,
  `telefono` varchar(15) NOT NULL,
  `logo_agencia` varchar(100) NOT NULL,
  `color_primario` varchar(10) DEFAULT '#059669',
  `color_secundario` varchar(10) DEFAULT '#ffffff',
  `ruc` varchar(20) DEFAULT NULL,
  `representante_legal` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`empresaID`),
  KEY `idx_empresa_estado` (`_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `empresa_funcionalidades`
--

DROP TABLE IF EXISTS `empresa_funcionalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresa_funcionalidades` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `empresafuncionID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `funcionalidadID` int(11) NOT NULL,
  `fecha_activacion` date DEFAULT current_timestamp(),
  `fecha_vencimiento` date DEFAULT NULL,
  `estado` enum('ACTIVO','VENCIDO','CANCELADO') DEFAULT 'ACTIVO',
  PRIMARY KEY (`empresafuncionID`),
  KEY `funcionalidadID` (`funcionalidadID`),
  KEY `idx_empfunc_emp_func` (`empresaID`,`funcionalidadID`),
  CONSTRAINT `empresa_funcionalidades_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`) ON DELETE CASCADE,
  CONSTRAINT `empresa_funcionalidades_ibfk_2` FOREIGN KEY (`funcionalidadID`) REFERENCES `funcionalidades` (`funcionalidadID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formas_pago`
--

DROP TABLE IF EXISTS `formas_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `formas_pago` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `formapagoID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `tipo` varchar(20) NOT NULL,
  `descripcion` varchar(100) NOT NULL,
  PRIMARY KEY (`formapagoID`),
  KEY `empresaID` (`empresaID`),
  CONSTRAINT `formas_pago_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `funcionalidades`
--

DROP TABLE IF EXISTS `funcionalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `funcionalidades` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `funcionalidadID` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `categoria` varchar(30) NOT NULL,
  `estado` enum('ACTIVO','INACTIVO') DEFAULT 'ACTIVO',
  PRIMARY KEY (`funcionalidadID`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `grupos`
--

DROP TABLE IF EXISTS `grupos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grupos` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `grupoID` int(11) NOT NULL AUTO_INCREMENT,
  `grupo` varchar(30) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`grupoID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `habitaciones`
--

DROP TABLE IF EXISTS `habitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `habitaciones` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `habitacionID` int(11) NOT NULL AUTO_INCREMENT,
  `tipohabitacionID` int(11) NOT NULL,
  `empresaID` int(11) NOT NULL,
  `numero` varchar(10) NOT NULL,
  `estado` enum('DISPONIBLE','OCUPADA','LIMPIEZA','MANTENIMIENTO','RESERVADA','MOMENTANEO','DEUDA') DEFAULT 'DISPONIBLE',
  `descripcion` varchar(255) DEFAULT NULL,
  `tv` tinyint(1) NOT NULL DEFAULT 0,
  `bano` tinyint(1) NOT NULL DEFAULT 0,
  `ventilador` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`habitacionID`),
  UNIQUE KEY `uk_habitacion_empresa` (`empresaID`,`numero`),
  KEY `tipohabitacionID` (`tipohabitacionID`),
  KEY `idx_estado_hab` (`estado`),
  KEY `idx_hab_emp_est` (`empresaID`,`_estado`),
  KEY `idx_hab_estado_hab` (`estado`),
  CONSTRAINT `habitaciones_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`) ON DELETE CASCADE,
  CONSTRAINT `habitaciones_ibfk_2` FOREIGN KEY (`tipohabitacionID`) REFERENCES `tipo_habitaciones` (`tipohabitacionID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hospedajes`
--

DROP TABLE IF EXISTS `hospedajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospedajes` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `hospedajeID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `checkin` datetime DEFAULT current_timestamp(),
  `checkout` datetime NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `estado` enum('ACTIVO','INACTIVO') DEFAULT 'ACTIVO',
  `habitacionID` int(11) NOT NULL,
  `observaciones` text DEFAULT NULL,
  `cajaID` int(11) DEFAULT NULL,
  `ingresoID` int(11) NOT NULL,
  PRIMARY KEY (`hospedajeID`),
  KEY `idx_estado` (`estado`),
  KEY `idx_habitacion` (`habitacionID`),
  KEY `fk_hospedajes_ingreso` (`ingresoID`),
  KEY `idx_hosp_empresa` (`empresaID`),
  KEY `idx_hosp_habitacion` (`habitacionID`),
  KEY `idx_hosp_estado` (`_estado`),
  CONSTRAINT `fk_hospedajes_ingreso` FOREIGN KEY (`ingresoID`) REFERENCES `ingresos` (`ingresoID`),
  CONSTRAINT `hospedajes_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `hospedajes_ibfk_2` FOREIGN KEY (`habitacionID`) REFERENCES `habitaciones` (`habitacionID`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER tr_eliminar_movimientos_hospedaje 

AFTER UPDATE ON hospedajes

FOR EACH ROW

BEGIN

    IF NEW._estado = 'X' AND OLD._estado <> 'X' THEN

        UPDATE movimientos 

        SET _estado = 'X', 

            _fec_modificacion = NOW()

        WHERE referenciaID = NEW.hospedajeID 

        AND categoria = 'HOSPEDAJE'

        AND _estado <> 'X';

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `hospedajes_clientes`
--

DROP TABLE IF EXISTS `hospedajes_clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hospedajes_clientes` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `hospedajeclienteID` int(11) NOT NULL AUTO_INCREMENT,
  `hospedajeID` int(11) NOT NULL,
  `clienteID` int(11) NOT NULL,
  `empresaID` int(11) DEFAULT NULL,
  PRIMARY KEY (`hospedajeclienteID`),
  KEY `clienteID` (`clienteID`),
  KEY `fk_empresa` (`empresaID`),
  KEY `idx_hc` (`hospedajeID`,`clienteID`),
  CONSTRAINT `fk_empresa` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `hospedajes_clientes_ibfk_1` FOREIGN KEY (`hospedajeID`) REFERENCES `hospedajes` (`hospedajeID`),
  CONSTRAINT `hospedajes_clientes_ibfk_2` FOREIGN KEY (`clienteID`) REFERENCES `clientes` (`clienteID`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `incidentes`
--

DROP TABLE IF EXISTS `incidentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incidentes` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `incidenteID` int(11) NOT NULL AUTO_INCREMENT,
  `clienteID` int(11) NOT NULL,
  `empresaID` int(11) NOT NULL,
  `descripcion` text NOT NULL,
  `fecha` date NOT NULL,
  `estado` enum('PENDIENTE','ACEPTADO','RECHAZADO') DEFAULT 'PENDIENTE',
  `usuarioID` int(11) NOT NULL,
  `fecha_atencion` datetime DEFAULT NULL,
  `solucion` text DEFAULT NULL,
  PRIMARY KEY (`incidenteID`),
  KEY `clienteID` (`clienteID`),
  KEY `empresaID` (`empresaID`),
  KEY `usuarioID` (`usuarioID`),
  CONSTRAINT `incidentes_ibfk_1` FOREIGN KEY (`clienteID`) REFERENCES `clientes` (`clienteID`),
  CONSTRAINT `incidentes_ibfk_2` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `incidentes_ibfk_3` FOREIGN KEY (`usuarioID`) REFERENCES `usuarios` (`usuarioID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ingreso_pagos`
--

DROP TABLE IF EXISTS `ingreso_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingreso_pagos` (
  `ingresopagoID` int(11) NOT NULL AUTO_INCREMENT,
  `ingresoID` int(11) NOT NULL,
  `formapagoID` int(11) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  PRIMARY KEY (`ingresopagoID`),
  KEY `ingresoID` (`ingresoID`),
  KEY `formapagoID` (`formapagoID`),
  CONSTRAINT `ingreso_pagos_ibfk_1` FOREIGN KEY (`ingresoID`) REFERENCES `ingresos` (`ingresoID`),
  CONSTRAINT `ingreso_pagos_ibfk_2` FOREIGN KEY (`formapagoID`) REFERENCES `formas_pago` (`formapagoID`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ingresos`
--

DROP TABLE IF EXISTS `ingresos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ingresos` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `ingresoID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `cajaID` int(11) NOT NULL,
  `cuentaID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  `monto_total` decimal(10,2) NOT NULL,
  `concepto` varchar(200) DEFAULT NULL,
  `entregado` tinyint(4) NOT NULL DEFAULT 0,
  `fecha_entrega` timestamp NULL DEFAULT NULL,
  `recaudacionID` int(11) DEFAULT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`ingresoID`),
  KEY `empresaID` (`empresaID`),
  KEY `cuentaID` (`cuentaID`),
  KEY `fk_ingreso_recaudacion` (`recaudacionID`),
  KEY `idx_caja_empresa` (`cajaID`,`empresaID`),
  KEY `idx_fecha` (`fecha`),
  CONSTRAINT `fk_ingreso_recaudacion` FOREIGN KEY (`recaudacionID`) REFERENCES `recaudaciones` (`recaudacionID`),
  CONSTRAINT `ingresos_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `ingresos_ibfk_2` FOREIGN KEY (`cajaID`) REFERENCES `cajas` (`cajaID`),
  CONSTRAINT `ingresos_ibfk_3` FOREIGN KEY (`cuentaID`) REFERENCES `cuentas` (`cuentaID`),
  CONSTRAINT `ingresos_ibfk_4` FOREIGN KEY (`recaudacionID`) REFERENCES `recaudaciones` (`recaudacionID`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `migracion_log`
--

DROP TABLE IF EXISTS `migracion_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migracion_log` (
  `migracionID` int(11) NOT NULL AUTO_INCREMENT,
  `tabla_origen` varchar(50) NOT NULL,
  `tabla_destino` varchar(50) NOT NULL,
  `registros_origen` int(11) NOT NULL,
  `registros_migrados` int(11) NOT NULL,
  `fecha_migracion` datetime DEFAULT current_timestamp(),
  `estado` enum('PENDIENTE','EN_PROCESO','COMPLETADO','ERROR') DEFAULT 'PENDIENTE',
  `error_detalle` text DEFAULT NULL,
  `usuario_migracion` int(11) NOT NULL,
  PRIMARY KEY (`migracionID`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL,
  `notificacionID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  `mensaje` text NOT NULL,
  `completado` tinyint(1) NOT NULL DEFAULT 0,
  `usuario_completado` int(11) NOT NULL DEFAULT 0,
  `fecha_notificacion` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`notificacionID`),
  KEY `empresaID` (`empresaID`),
  CONSTRAINT `notificaciones_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `opciones`
--

DROP TABLE IF EXISTS `opciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opciones` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `opcionID` int(11) NOT NULL AUTO_INCREMENT,
  `grupoID` int(11) NOT NULL,
  `opcion` varchar(200) NOT NULL,
  `contenido` varchar(200) NOT NULL,
  `orden` int(11) NOT NULL,
  `funcionalidadID` int(11) DEFAULT NULL,
  PRIMARY KEY (`opcionID`),
  KEY `grupoID` (`grupoID`),
  CONSTRAINT `opciones_ibfk_1` FOREIGN KEY (`grupoID`) REFERENCES `grupos` (`grupoID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER tr_ai_opcion_accesos_admin
AFTER INSERT ON opciones
FOR EACH ROW
BEGIN
    -- Ignorar si el registro ya existe por alguna raz├│n
    IF NOT EXISTS (SELECT 1 FROM accesos WHERE rolID = 1 AND opcionID = NEW.opcionID) THEN
        INSERT INTO accesos (rolID, opcionID, _fec_insercion, _usuario, _estado)
        VALUES (1, NEW.opcionID, NOW(), 1, 'A');
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `paises`
--

DROP TABLE IF EXISTS `paises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paises` (
  `paisID` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `codigo_iso` char(2) DEFAULT NULL,
  `_estado` char(1) DEFAULT 'A',
  PRIMARY KEY (`paisID`)
) ENGINE=InnoDB AUTO_INCREMENT=195 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `planes` (
  `planID` int(11) NOT NULL AUTO_INCREMENT,
  `tarea` varchar(255) NOT NULL,
  `tipo` enum('CORTO','LARGO') NOT NULL,
  `estado` enum('PENDIENTE','PROCESO','TERMINADO') DEFAULT 'PENDIENTE',
  PRIMARY KEY (`planID`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recaudaciones`
--

DROP TABLE IF EXISTS `recaudaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recaudaciones` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `recaudacionID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `cajaID` int(11) DEFAULT NULL,
  `usuariorecepcionistaID` int(11) NOT NULL,
  `usuariopropietarioID` int(11) NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `comprobante_nro` varchar(255) DEFAULT NULL,
  `fecha` timestamp NOT NULL DEFAULT current_timestamp(),
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`recaudacionID`),
  KEY `empresaID` (`empresaID`),
  KEY `usuariopropietarioID` (`usuariopropietarioID`),
  KEY `usuariorecepcionistaID` (`usuariorecepcionistaID`),
  KEY `fk_recaudacion_caja` (`cajaID`),
  CONSTRAINT `fk_recaudacion_caja` FOREIGN KEY (`cajaID`) REFERENCES `cajas` (`cajaID`),
  CONSTRAINT `recaudaciones_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`),
  CONSTRAINT `recaudaciones_ibfk_2` FOREIGN KEY (`usuariopropietarioID`) REFERENCES `usuarios` (`usuarioID`),
  CONSTRAINT `recaudaciones_ibfk_3` FOREIGN KEY (`usuariorecepcionistaID`) REFERENCES `usuarios` (`usuarioID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reserva_habitacion`
--

DROP TABLE IF EXISTS `reserva_habitacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reserva_habitacion` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `reservahabitacionID` int(11) NOT NULL AUTO_INCREMENT,
  `reservaID` int(11) NOT NULL,
  `habitacionID` int(11) NOT NULL,
  PRIMARY KEY (`reservahabitacionID`),
  KEY `reservaID` (`reservaID`),
  KEY `habitacionID` (`habitacionID`),
  CONSTRAINT `reserva_habitacion_ibfk_1` FOREIGN KEY (`reservaID`) REFERENCES `reservas` (`reservaID`),
  CONSTRAINT `reserva_habitacion_ibfk_2` FOREIGN KEY (`habitacionID`) REFERENCES `habitaciones` (`habitacionID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reservas`
--

DROP TABLE IF EXISTS `reservas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservas` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `reservaID` int(11) NOT NULL AUTO_INCREMENT,
  `empresaID` int(11) NOT NULL,
  `checkin` datetime DEFAULT NULL,
  `checkout` datetime DEFAULT NULL,
  `precio` decimal(15,2) DEFAULT NULL,
  `estado` text DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`reservaID`),
  KEY `empresaID` (`empresaID`),
  CONSTRAINT `reservas_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `rolID` int(11) NOT NULL AUTO_INCREMENT,
  `rol` varchar(20) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`rolID`),
  UNIQUE KEY `rol` (`rol`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tipo_habitaciones`
--

DROP TABLE IF EXISTS `tipo_habitaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_habitaciones` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `tipohabitacionID` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `precio` decimal(15,2) NOT NULL,
  `empresaID` int(11) NOT NULL,
  `descripcion` text DEFAULT NULL,
  PRIMARY KEY (`tipohabitacionID`),
  KEY `empresaID` (`empresaID`),
  CONSTRAINT `tipo_habitaciones_ibfk_1` FOREIGN KEY (`empresaID`) REFERENCES `empresa` (`empresaID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `usuarioID` int(11) NOT NULL AUTO_INCREMENT,
  `empleadoID` int(11) DEFAULT NULL,
  `usuario` varchar(15) NOT NULL,
  `clave` varchar(200) NOT NULL,
  PRIMARY KEY (`usuarioID`),
  UNIQUE KEY `usuario` (`usuario`),
  KEY `empleadoID` (`empleadoID`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`empleadoID`) REFERENCES `empleados` (`empleadoID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios_roles`
--

DROP TABLE IF EXISTS `usuarios_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios_roles` (
  `_fec_insercion` timestamp NOT NULL DEFAULT current_timestamp(),
  `_fec_modificacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `_usuario` int(11) NOT NULL,
  `_estado` char(1) NOT NULL DEFAULT 'A',
  `usuariorolID` int(11) NOT NULL AUTO_INCREMENT,
  `rolID` int(11) NOT NULL,
  `usuarioID` int(11) NOT NULL,
  PRIMARY KEY (`usuariorolID`),
  KEY `rolID` (`rolID`),
  KEY `usuarioID` (`usuarioID`),
  CONSTRAINT `usuarios_roles_ibfk_1` FOREIGN KEY (`rolID`) REFERENCES `roles` (`rolID`) ON DELETE CASCADE,
  CONSTRAINT `usuarios_roles_ibfk_2` FOREIGN KEY (`usuarioID`) REFERENCES `usuarios` (`usuarioID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_movimientos_caja`
--

DROP TABLE IF EXISTS `v_movimientos_caja`;
/*!50001 DROP VIEW IF EXISTS `v_movimientos_caja`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_movimientos_caja` AS SELECT
 1 AS `tipo`,
  1 AS `movimientoID`,
  1 AS `cajaID`,
  1 AS `empresaID`,
  1 AS `usuarioID`,
  1 AS `cuentaID`,
  1 AS `cuenta_codigo`,
  1 AS `cuenta_nombre`,
  1 AS `monto`,
  1 AS `concepto`,
  1 AS `fecha`,
  1 AS `_estado`,
  1 AS `recaudacionID`,
  1 AS `forma_pago`,
  1 AS `_fec_insercion` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_movimientos_caja`
--

/*!50001 DROP VIEW IF EXISTS `v_movimientos_caja`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_movimientos_caja` AS select 'INGRESO' AS `tipo`,`i`.`ingresoID` AS `movimientoID`,`i`.`cajaID` AS `cajaID`,`i`.`empresaID` AS `empresaID`,`i`.`_usuario` AS `usuarioID`,`i`.`cuentaID` AS `cuentaID`,`c`.`codigo` AS `cuenta_codigo`,`c`.`nombre` AS `cuenta_nombre`,coalesce(`ip`.`monto`,`i`.`monto_total`) AS `monto`,`i`.`concepto` AS `concepto`,`i`.`fecha` AS `fecha`,`i`.`_estado` AS `_estado`,`i`.`recaudacionID` AS `recaudacionID`,`fp`.`tipo` AS `forma_pago`,`i`.`_fec_insercion` AS `_fec_insercion` from (((`ingresos` `i` join `cuentas` `c` on(`i`.`cuentaID` = `c`.`cuentaID`)) left join `ingreso_pagos` `ip` on(`i`.`ingresoID` = `ip`.`ingresoID`)) left join `formas_pago` `fp` on(`ip`.`formapagoID` = `fp`.`formapagoID`)) union all select 'EGRESO' AS `tipo`,`e`.`egresoID` AS `movimientoID`,`e`.`cajaID` AS `cajaID`,`e`.`empresaID` AS `empresaID`,`e`.`_usuario` AS `usuarioID`,`e`.`cuentaID` AS `cuentaID`,`c`.`codigo` AS `cuenta_codigo`,`c`.`nombre` AS `cuenta_nombre`,coalesce(`ep`.`monto`,`e`.`monto_total`) AS `monto`,`e`.`concepto` AS `concepto`,`e`.`fecha` AS `fecha`,`e`.`_estado` AS `_estado`,NULL AS `recaudacionID`,`fp`.`tipo` AS `forma_pago`,`e`.`_fec_insercion` AS `_fec_insercion` from (((`egresos` `e` join `cuentas` `c` on(`e`.`cuentaID` = `c`.`cuentaID`)) left join `egreso_pagos` `ep` on(`e`.`egresoID` = `ep`.`egresoID`)) left join `formas_pago` `fp` on(`ep`.`formapagoID` = `fp`.`formapagoID`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-14 23:57:56
